.editors-Editor {
  position: relative;
  background-color: white;
  overflow: hidden;

  .content {
    position: relative;
    padding-top: calc((800 / 660) * 100%);

    .panel {
      position: absolute;
      inset: 0;
    }
  }

  .title {
    position: absolute;
    top: 5px;
    left: 7px;
    pointer-events: none;
    user-select: none;
  }
}
