.editors-Part {
  position: absolute;
  scale: 0.3;
  transform-origin: 0 0;
  user-select: none;

  &.invisible {
    display: none;
  }

  &.dragging {
    background-color: #ff00ff22;
  }

  &.boundary {
    background-color: #00ff0022;
  }
}
