.codes-Code {
  background-color: #f6f6f6;
  position: relative;

  .content {
    position: absolute;
    inset: 0;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .title {
    position: absolute;
    top: 5px;
    right: 7px;
    pointer-events: none;
    user-select: none;
  }
}
